
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
   url('../fonts/roboto-v29-latin-regular.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
   url('../fonts/roboto-v29-latin-700.woff') format('woff');
  font-display: swap;
}


:root{
  --primary: #ea625c;
  --text-color: #333333;
}

html{
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  height: 100%;
  background-color: #fff;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
}
.logo-link-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}
.sitenav {
  margin-right: 40px;
}
.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav-item:not(:last-child) {
  margin-right: 30px;
}
.sitenav-item-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 3px;
border-bottom: 3px solid transparent;
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}

.sitenav-item-link:hover{
  border-bottom: 3px solid #333;
}

/* SEARCH FORM */
.site-form-input {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  border-bottom: 1px solid #333;
}

/* SITE HERO */

.site-hero {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom ;
}
.site-hero-wrap{
  width: 490px;
  margin-top: 140px;
  margin-bottom: 183px;
}

.hero-heading {
  font-size: 50px;
  line-height: 1.2;
  color: #000;
  font-weight: 700;
  margin: 0;
  padding-bottom: 30px;
}
.hero-paragref {
  margin-bottom: 30px;
  margin-top: 0;
  border-left: 3px solid #888888;
  line-height: 1.5;
  padding-left: 40px;
  color: #777;
}
.hero-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 48px;
  background-color: var(--primary);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}

/*  FEATURES SECTION */

.features-section {
  /* padding: 70px; */
}
.features-list {
  display: flex;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
}
.features-item {
  list-style: none;

  width: 280px;
}
.features-item:not(:last-child){
  margin-right: 80px;
}
.features-heading {
  margin: 0;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #222;
  text-transform: uppercase;
}
.features-paragraf {

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  margin: 0;
  padding-bottom: 20px;
}
.features-3nthchild-learn-more {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
}
.learn-more-line {
  /* color: #ea625c; */
  border: 3px solid #EA625C;
  margin: 0;
  width: 40px;
}
.learn-more {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}

/* SITE HERO 2 */

.site-intro {
  margin-bottom: 70px;
  background-image: url(../img/watch-in-hand.jpg);
  background-repeat: no-repeat;
  background-position: right bottom ;
}
.site-intro-wrap{
  width: 490px;
  margin-top: 140px;
  margin-bottom: 183px;
}

.intro-heading {
  font-size: 50px;
  line-height: 1.2;
  color: #000;
  font-weight: 700;
  margin: 0;
  padding-bottom: 30px;
}
.intro-paragref {
  margin-bottom: 30px;
  margin-top: 0;
  border-left: 3px solid #888888;
  line-height: 1.5;
  padding-left: 40px;
  color: #777;
}
.intro-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 48px;
  background-color: var(--primary);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}

/* RUNNERS SECTION */

.runners-section {
  background-image: url(../img/runners.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.runners-section-info {
  width: 490px;
  margin-top: 240px;
  margin-right: 125px;
  margin-left: 635px;
  margin-bottom: 240px;
}
.runners-section-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;

}
.runners-section-paragraf {
  margin-bottom: 30px;
  margin-top: 0;
  border-left: 3px solid #888888;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 40px;
  color: #fff;
}
.runners-section-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 46px;
  background-color: var(--primary);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}
